{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.2"}
           hyperlith/hyperlith {:local/root "../../../hyperlith"}}
 :aliases {:dev   {:jvm-opts
                   ["--enable-native-access=ALL-UNNAMED"
                    "-Duser.timezone=UTC"
                    "-XX:+UseZGC"
                    "-XX:+ZGenerational"
                    "-Djdk.attach.allowAttachSelf"
                    "-XX:+EnableDynamicAgentLoading"]}
           :build {:deps       {io.github.clojure/tools.build
                                {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
                   :ns-default build}}}
